.app__head {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: flex-end;
}

.app__head-num {
    font-family: var(--font-oswald);
    font-size: 135px;
    font-weight: bold;
    opacity: 0.25;
    line-height: 130px;
}

.app__head-title {
    font-family: var(--font-oswald);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: var(--color-blue);
    margin-bottom: 1.5rem;
    margin-left: -1.75rem;
}


@media screen and (max-width: 768px) {
    .app__head {
        flex-direction: column;
    }
    .app__head-title {
        margin: 0;
    }
}